.file {
	width: 100%;
	height: 170px;
	background-color: white;
	-webkit-box-shadow: 3px 0px 12px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 3px 0px 12px rgba(50, 50, 50, 0.35);
	box-shadow: 3px 0px 12px rgba(50, 50, 50, 0.35);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 10px;
}

.file .file-header {
	padding: 10px;
}

.file .file-body {
	padding: 10px;
	font-size: 13px;
}

.file .file-footer {
	padding: 10px;
}

.superbox-show {
	text-align: left;
	position: relative;
	background: transparent;
	width: 100%;
	float: left;
	padding: 25px 0 12px 25px;
	display: block;
	margin: 5px 0;
	width: 100%;
}