.obj {
	cursor: pointer;
}

.file-row {
	cursor: pointer;
}

.my-selected {

}

.my-selected:before {
	display: block;
	position: absolute;
	content: "\f00c";
	color: #fff;
	right: 17px;
	font-family: FontAwesome;
	z-index: 1002;
}

.my-selected:after {
	width: 0;
	height: 0;
	border-top: 35px solid #0091d9;
	border-left: 35px solid rgba(0, 0, 0, 0);
	position: absolute;
	display: block;
	right: 13px;
	content: "";
	top: 0;
	z-index: 1001;
	font-size: 13px;
}

.superbox-show {
	text-align: left;
	position: relative;
	background: transparent;
	width: 100%;
	float: left;
	padding: 25px 0 12px 25px;
	display: block;
	margin: 5px 0;
	width: 100%;
}

.degree-sign:after {
	content: " °C"
}

.trace {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 1.428571429;
	word-break: break-all;
	word-wrap: break-word;
	/*color: #333;*/
	color: white;
	/*background-color: #f5f5f5;*/
	background-color: black;
	border: 1px solid #ccc;
	border-radius: 2px;
	max-height: 150px;
}

#renderArea {

	margin-top: 20px;
	height: 300px;
	width: 100%;
	background-color: #000000;
}

#velocity {
	background-color: #c79121 !important;
}

.rotondo {
	border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
}

.fa-rotate-45 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.noUi-handle {
	background: #858585 !important;
	height: 30px;
	width: 16px;
	border: 1px solid #fff;
	cursor: default;
	box-shadow: none !important;
}

.noUi-handle:hover {
	background: #6c6c6c !important;
}

#ace-editor pre {
	line-height: 20px;
}

#ace-editor strong {
	font-size: 16px;
	color: #346597;
}

.pagination-sm {
	width: 200px !important;
}

.noUi-connect {
	
	background-color: #a65858 !important;
}

#temp1, #temp2 {
	background-color: #57889c !important;
	margin-top: 3px;
}

.margin-right-5 {
	margin-right: 5px !important;
}

.label-danger {
	background-color: #a65858 !important;
	font-size: 100% !important;
}

.label-info {
	font-size: 100% !important;
}

.label-success {
	font-size: 100% !important;
}

.bg-green {
	background-color: #739e73 !important;
}

.txt-color-yellow {
	color: #c79121 !important;
}

.label-warning {
	font-size: 100% !important;
}

.show-stat-microcharts > div {
	height: 200px !important;
}

.model-info{
	background-color: #f7f7f9 !important;
}
