/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 
 .dotted {
 
 	border-style: dotted !important;
 
 }
 
 
 .rotate-45 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}


.rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}



.rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}


.rotate-360 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}



.menu-disabled{
	color:#514F4D !important;
	cursor: default !important;
}


.scan-preview {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 10%;
  padding: 5px;
  position: relative;
}


@media only screen and (min-width: 320px) {
  .scan-preview {
    /*width: 50%*/;
      width: 10%;
  }
}
@media only screen and (min-width: 486px) {
  .scan-preview {
    /*width: 25%;*/
      width: 10%;
  }
}
@media only screen and (min-width: 768px) {
  .scan-preview {
    /*width: 16.66666667%;*/
      width: 10%;
  }
}
@media only screen and (min-width: 1025px) {
  .scan-preview {
    width: 10%;
  }
}
@media only screen and (min-width: 1824px) {
  .scan-preview {
    width: 10%;
  }
}



.console{
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 1.428571429;
	word-break: break-all;
	word-wrap: break-word;
	/*color: #333;*/
	color: white;
	/*background-color: #f5f5f5;*/
	background-color: black;
	border: 1px solid #ccc;
	border-radius: 2px;
	max-height: 350px;
	text-align: left;
	
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 2px 28px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow:    10px 2px 28px 0px rgba(0, 0, 0, 0.64);
    box-shadow:         10px 2px 28px 0px rgba(0, 0, 0, 0.64);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.2);
    
}


.progress {
    border-radius: 4px !important;
}

.progress-bar {
    border-radius: 4px !important;
}

