
.dotted {
	border-style: dotted !important;
}

.rotate-45 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.rotate-360 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.menu-disabled {
	color: #514F4D !important;
	cursor: default !important;
}

.scan-preview {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 10%;
	padding: 5px;
	position: relative;
}

@media only screen and (min-width: 320px) {
	.scan-preview {
		/*width: 50%*/;
		width: 10%;
	}
}
@media only screen and (min-width: 486px) {
	.scan-preview {
		/*width: 25%;*/
		width: 10%;
	}
}
@media only screen and (min-width: 768px) {
	.scan-preview {
		/*width: 16.66666667%;*/
		width: 10%;
	}
}
@media only screen and (min-width: 1025px) {
	.scan-preview {
		width: 10%;
	}
}
@media only screen and (min-width: 1824px) {
	.scan-preview {
		width: 10%;
	}
}

.console {
	max-height: 300px !important;
	overflow: auto;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*
	 -webkit-box-shadow: 10px 2px 28px 0px rgba(0, 0, 0, 0.64);
	 -moz-box-shadow:    10px 2px 28px 0px rgba(0, 0, 0, 0.64);
	 box-shadow:         10px 2px 28px 0px rgba(0, 0, 0, 0.64);
	 background-clip: padding-box;
	 border: 1px solid rgba(0,0,0,0.2);
	 */
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.progress {
	border-radius: 4px !important;
}

.progress-bar {
	border-radius: 4px !important;
}

/** NOUISLIDER */

.noUi-base {
	border: 0px !important;
}

.noUi-horizontal .noUi-handle {
	top: 0px !important;
}

/** DATATABLES */

.dataTables_length {
	float: right !important;
}

.login-info img {
	border-left: 0px !important;
}

.updates-notify {
	min-height: 50px;
	height: 50px;
	border: 1px solid black;
	width: 100%;
	position: fixed;
	top: 0px;
	background: #efe1b3;
	border-color: #dfb56c;
}

.update-notify-wrap {
	padding: 0 25px;
	margin: 8px 0;
	text-align: center;
}

.btn-header {
	margin-left: 3px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}
.emergency-container{
	margin-right: 10px !important;
	border-right: 1px solid  #CCC;
	padding-right:10px;
}

.top-bar-temperatures {
	
	margin-right: 10px !important;
	border-right: 1px solid  #CCC;
	padding-right:10px;
	font-size:18px
}

.top-bar-temperatures span:first-child{

	display: inline-block;
	margin: 13px 0 0;
	
	
	
}    
