RewriteEngine on
RewriteCond $1 !^(index\.php|assets|application|down|robots|upload|ajax|temp|slicer|\.txt\.json)
RewriteRule ^(.*)$ /myfabtotum/index.php/$1 [L]

# Caching -- mod_headers
<IfModule mod_headers.c>
    # 1 Anno = 29030400s = Never Expires
    <filesMatch "\.(ico)$">
        Header set Cache-Control "max-age=29030400, public"
    </filesMatch>
    
    # 1 Mese = 2419200s
    <filesMatch "\.(css|js|pdf|flv|jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=2419200, public"
    </filesMatch>
    
    <FilesMatch "\.(bmp|css|flv|gif|ico|jpg|jpeg|js|pdf|png|svg|swf|tif|tiff)$">
    Header set Last-Modified "Mon, 29 Dec 2014 00:00:00 GMT"
    
    </FilesMatch>
    # 2.5 Giorni = 216000s
    <filesMatch "\.(js)$">
        Header set Cache-Control "max-age=650000, private"
    </filesMatch>
    
    <filesMatch "\.(xml|txt)$">
        Header set Cache-Control "max-age=216000, public, must-revalidate"
    </filesMatch>
    
    # 5 minuti = 300s
    <filesMatch "\.(html|htm)$">
    Header set Cache-Control "max-age=300, private, must-revalidate"
    </filesMatch>
    
    # Disabilitare cache per script e altri file dinamici
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>




# Caching -- mod_expires
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A604800
    ExpiresByType image/x-icon A29030400
    ExpiresByType application/pdf A2419200
    ExpiresByType image/gif A2419200
    ExpiresByType image/png A2419200
    ExpiresByType image/jpg A2419200
    ExpiresByType image/jpeg A2419200
    ExpiresByType text/css A2419200
    ExpiresByType application/x-javascript A216000
    ExpiresByType text/javascript A216000
    ExpiresByType text/plain A216000
    ExpiresByType text/html A300
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        ExpiresActive Off
    </FilesMatch>
</IfModule>


AddDefaultCharset UTF-8