.shortcut a {
	color: #333;
	text-decoration: none;
}

.shortcut a:HOVER {
	color: #3276b1;
}

.tasks { /*
	min-height: 100px;
	height: 100%;
	display: block;
	overflow: auto;
	border-bottom: 1px solid #CECECE;
	border-top: 1px solid #CECECE;
	/*background: #E9E9E9;*/
	
}