RewriteEngine on
RewriteCond $1 !^(index\.php|assets|application|down|robots|upload|ajax|temp|slic3r|\.txt\.json)
RewriteRule ^(.*)$ /fabui/index.php/$1 [L]

AddDefaultCharset UTF-8

# Caching -- mod_headers
<IfModule mod_headers.c>
    # 1 Anno = 29030400s = Never Expires
    <filesMatch "\.(ico)$">
        Header set Cache-Control "max-age=29030400, public"
    </filesMatch>
    
    # 1 Mese = 2419200s
    <filesMatch "\.(css|js|pdf|flv|jpg|jpeg|png|gif|swf|gcode|gc)$">
        Header set Cache-Control "max-age=29030400, public"
    </filesMatch>
    
    <FilesMatch "\.(bmp|css|flv|gif|ico|jpg|jpeg|js|pdf|png|svg|swf|tif|tiff|gcode|gc)$">
    Header set Last-Modified "Mon, 29 Dec 2014 00:00:00 GMT"
    
    </FilesMatch>
    # 2.5 Giorni = 216000s
    <filesMatch "\.(js)$">
        Header set Cache-Control "max-age=29030400, public"
    </filesMatch>
    
    <filesMatch "\.(xml|txt)$">
        Header set Cache-Control "max-age=29030400, public"
    </filesMatch>
    
    # 5 minuti = 300s
    <filesMatch "\.(html|htm)$">
    Header set Cache-Control "max-age=29030400, public"
    </filesMatch>
    
    # Disabilitare cache per script e altri file dinamici
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>




# Caching -- mod_expires
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A29030400
    ExpiresByType image/x-icon A29030400
    ExpiresByType application/pdf A29030400
    ExpiresByType image/gif A29030400
    ExpiresByType image/png A29030400
    ExpiresByType image/jpg A29030400
    ExpiresByType image/jpeg A29030400
    ExpiresByType text/css A29030400
    ExpiresByType application/x-javascript A29030400
    ExpiresByType text/javascript A29030400
    ExpiresByType text/plain A29030400
    ExpiresByType text/html A29030400
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        ExpiresActive Off
    </FilesMatch>
</IfModule>

php_value max_execution_time 3600
php_value upload_max_filesize 512M
php_value post_max_size 512M
php_value memory_limit 512M
php_value session.gc_maxlifetime 86400
php_value session.cookie_lifetime 86400
php_value session.save_path "/var/www/temp/"
